<!DOCTYPE html>
<html>
<head>
	<title>GBU GateAPI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<section class="container">
		<section class="content">
			<h1>GBU GateAPI</h1>
			<a href="https://gateapi.vishalpandey.xyz/accounts/">Login</a>
		</section>
	</section>
</body>
</html>

<style type="text/css">
	body{
		margin: 0;
		padding: 0;
	}
	*{
		box-sizing: border-box;
	}
	.container{
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.content{
		width: 100%;
		max-width: 700px;
		height: 100%;
		background-color: orange;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: 33px;
	}
	h1{
		margin: 0;
		text-align: center;
	}
</style>